<!DOCTYPE html>
<html lang="en">
<head>
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/index.css" rel="stylesheet">

</head>

<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Order  System</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index/">首页</a></li>
                        <li><a href="/userlogin/">用户登录</a></li>
                        <li><a href="/adminlogin/">管理员登录</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">注册 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/register/">普通用户注册</a></li>
                                <li><a href="">管理员注册</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">帮助 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/help/">使用帮助</a></li>
                                <li><a href="/about/">关于我们</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">其他</li>
                                <li><a href="">意见反馈</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="first-slide"
                 src="/static/imgs/indexImgs/img-1.jpg"
                 alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One simple example.</h1>
                    <p>Note: If you're viewing this page to submit something <code>100006</code> to us, you can write
                        the content on the pageline ,then we will do you a favor.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="" role="button">Something more </a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide"
                 src="/static/imgs/indexImgs/img-3.jpg"
                 alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Something to feedback.</h1>
                    <p>If you have any problem during use our stystem or something to feedback to us,you are supposed to
                        use the suggestion page to submit it.Welcome your sincere advice.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="" role="button">To Feedback</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="third-slide"
                 src="/static/imgs/indexImgs/img-2.jpg"
                 alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>One system for order system.</h1>
                    <p>
                        This web is a system that contains the information for user to preceed the problem in work,
                        you are able to submit your problem to us.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">


    <!-- Three columns of text below the carousel -->
    <div class="row" deep="1">
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/imgs/indexImgs/bs.png"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Bootstrap框架</h2>
            <p>
                Bootstrap 是一个用于快速开发 Web 应用程序和网站的前端框架，由 Twitter 的 Mark Otto 和 Jacob Thornton 开发的。它提供了一个带有网格系统、链接样式、背景的基本结构，也可定制 Bootstrap 的组件、LESS 变量和 jQuery 插件来得到您自己的版本</p>
            <p><a class="btn btn-default" href="https://getbootstrap.com/" role="button">More
                details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/imgs/indexImgs/redis.png"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Redis数据库</h2>
            <p>Redis是一个高性能的 key-value数据库。支持数据的持久化，可以将内存中的数据保存在磁盘中，重启的时候可以再次加载进行使用。它不仅仅支持简单的key-value类型的数据，同时还提供list，set，zset，hash等数据结构的存储，也支持数据的备份。</p>
            <p><a class="btn btn-default" href="https://redis.io/" role="button">More details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/imgs/indexImgs/django.jpeg"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Django框架</h2>
            <p>
                Django 是一个开源后端框架。使用 Django，只要很少的代码Python 的程序开发人员就可以轻松地完成一个正式网站所需要的大部分内容，并进一步开发出全功能的Web服务。Django 本身基于 MVC 模型，即 模型、视图、控制器设计模式。</p>
            <p><a class="btn btn-default" href="http://www.djangoproject.com/" role="button">More details »</a></p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>© 2022 CopyRight, 付前程 · <a href="/help/">Help</a> · <a href="/about/">About</a></p>

    </footer>
</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
     style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
        <style type="text/css"></style>
    </defs>
    <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">
        500x500
    </text>
</svg>
</body>

</html>